---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
  This is a collection of work & experiments in the cybersecurity field.
  </p>

  <p>
    I graduated from <b class="text-blue-500"><TextLink href="https://dsu.edu">Dakota State University</TextLink></b> with a MS in <b>Cyber Defense</b> and a BS in <b>Cyber Operations</b>.

    Since then I've worked as a <b>Malware Analyst</b> with <b class="text-blue-500">Army Cyber Command</b>, and am now a <b>Web Application Security Consultant</b>.

    <p>
    I'm a big fan of open security standards for applications and workflow automation when it comes to security testing. The easier it is to identify and replicate, the more secure everyone's apps can be 😁! My writings and other projects are scattered across the web, but if you feel like it you can find some of them listed in the <b>links</b> page.
    </p>
    <!--
  It originates from <TextLink href="https://github.com/trevortylerlee"
      >Trevor Lee</TextLink
    >'s <TextLink href="https://astro-micro.vercel.app/">Astro Micro</TextLink> theme,
    which is based on <TextLink href="https://github.com/markhorn-dev"
      >Mark Horn</TextLink
    >'s <TextLink href="https://astro-nano-demo.vercel.app/"
      >Astro Nano</TextLink
    > (after "nano" and "micro" comes "mili", hence the first part of the name).
  </p>
  -->

  <!--
  <p>
    The changelog is available in this post: <TextLink
      href={resolvePath(
        "/blog/everything-new-in-astro-milidev",
        Astro.url.pathname,
      )}>Everything new in Astro Milidev</TextLink
    >. Another post <TextLink
      href={resolvePath("/blog/getting-started", Astro.url.pathname)}
      >Getting started</TextLink
    > explains the configuration process step by step. The code is MIT-licensed and
    available on <TextLink href="https://github.com/bartoszlenar/astro-milidev"
      >GitHub</TextLink
    >.
  </p>

  <p>Enjoy!</p>
  -->
</div>
