---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
  This is a collection of work & experiments in the cybersecurity field.
  </p>

  <p>
    I graduated from <a class="text-blue-500 font-bold" href="https://dsu.edu">Dakota State University</a> with a MS in Cyber Defense & BS in Cyber Operations.

    Since then I've worked as a Malware Analyst with the <b class="text-blue-500">U.S. Army Cyber Command</b>, and am now a <b class="text-blue-500">Web Application Security Consultant</b>.

    <p>
    I'm a big fan of open security standards for applications and workflow automation when it comes to security testing. The easier it is to identify and replicate, the more secure everyone's apps can be!

    My other writings and projects are scattered across the web, but can be found in the <b>links</b> page. All of them are <b>homegrown, organically fed, non-AI-written works</b>. If AI is used in any way for writing, it will be specifically called out.
    </p>
    <!--
  It originates from <TextLink href="https://github.com/trevortylerlee"
      >Trevor Lee</TextLink
    >'s <TextLink href="https://astro-micro.vercel.app/">Astro Micro</TextLink> theme,
    which is based on <TextLink href="https://github.com/markhorn-dev"
      >Mark Horn</TextLink
    >'s <TextLink href="https://astro-nano-demo.vercel.app/"
      >Astro Nano</TextLink
    > (after "nano" and "micro" comes "mili", hence the first part of the name).
  </p>
  -->

  <!--
  <p>
    The changelog is available in this post: <TextLink
      href={resolvePath(
        "/blog/everything-new-in-astro-milidev",
        Astro.url.pathname,
      )}>Everything new in Astro Milidev</TextLink
    >. Another post <TextLink
      href={resolvePath("/blog/getting-started", Astro.url.pathname)}
      >Getting started</TextLink
    > explains the configuration process step by step. The code is MIT-licensed and
    available on <TextLink href="https://github.com/bartoszlenar/astro-milidev"
      >GitHub</TextLink
    >.
  </p>

  <p>Enjoy!</p>
  -->
</div>
